/* style attribute, ids, classes, elements  */
/* 0 1 0 0 */
#t-title {
    color: green;
}

.t-title {

    color: green;
}

/* This is an example of targetting multiple child elements within a div class for styling. */
/* 0 0 1 1 */
.t-title h2,
.t-title h3 {
    color: blue;
}

/* 0 0 0 1 */
h1 {
    color: red;
    font-size: 40px;
    letter-spacing: 5px;

    text-transform: capitalize;
}

ul li ol li ul li ol li ul li h1 {
    color: purple;
}

p {
    line-height: 1.5;
    font-size: 22px;
    letter-spacing: 2px;
}