/* style attribute, ids, classes, elements  */
/* 0 1 0 0 */
/* #t-title {
    color: green;
}

.t-title {

    color: green;
} */

/* This is an example of targetting multiple child elements within a div class for styling. */
/* 0 0 1 1 */
/* .t-title h2,
.t-title h3 {
    color: blue;
} */

/* 0 0 0 1 */

* {
    margin: 20;
}

h1 {
    color: red;
    font-size: 38px;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: dashed;

    text-transform: capitalize;
    text-align: start;
}

ul li ol li ul li ol li ul li h1 {
    color: purple;
}

p {
    line-height: 1.5;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: justify;
    max-width: 60ch;

}

button {
    all: unset;
    font-size: 24px;
    background-color: pink;
    padding: 16px 24px;

}